<div class="col s12">
<img class="responsive-img" src="images/monument.jpg">
<div class="container">
<div id="signedinhp">
<div class="col s12">
<img class="logo responsive-img" src="images/nomadcolor.png">
</div>
</div>
<div>
